<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <%- include('../../../../components/head.ejs'); %>
        <link rel="stylesheet" href="../../css/style.css">
</head>

<body>

    <header>
        <%- include('../../components/header.ejs'); %>
    </header>


    <!--Main layout-->
    <main style="margin-top: 58px">
        <div class="container pt-4">
            <!--Section: Sales Performance KPIs-->
            <div class="container">
                <div class="row col-lg-12">
                    <div class="col-lg-9">
                        <h4>Danh sách người dùng</h4>
                    </div>
                    <div class="col-lg-3">
                        <form class="d-none d-md-flex input-group w-auto my-auto">
                            <input autocomplete="off" type="search" class="form-control rounded"
                              placeholder='Tìm Kiếm...' style="min-width: 225px" />
                            <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
                          </form>
                    </div>
                </div>
            </div>

            <section class="mb-4">
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            <th>Email</th>
                            <th>Mật Khẩu</th>
                            <th>Chức vụ</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < data.length; i++) { %>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="../../../../public/img/<%=data[i].img %>" alt=""
                                        style="width: 45px; height: 45px" class="rounded-circle" />
                                    <div class="ms-3">
                                        <p class="text-muted mb-0"><%=data[i].email %></p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="fw-normal mb-1"><%=data[i].password %></p>
                            </td>
                            <td>
                                <span class="badge badge-success rounded-pill d-inline"><%= data[i].role == 1 ? 'Admin' : 'Người dùng' %></span>
                            </td>
                            <td>
                                <a href="/admin/edit-users/<%=data[i].id%>" class="btn btn-warning tryMe" data-mdb-ripple-init ><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="/admin/users/<%=data[i].id%>" name="id" class="btn btn-danger tryMe" data-mdb-ripple-init value="<%=data[i].id%>"><i class="fa-regular fa-trash-can"></i></a>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </section>
            <div class="row">
                <div class="col-lg-10"></div>
                <div class="col-lg-2"><a href="/admin/add-users" class="btn btn-outline-primary" data-mdb-ripple-init data-mdb-ripple-color="dark">+ Thêm</a></div>
            </div>
        </div>
    </main>
    <!--Main layout-->
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="../js/admin.js"></script>
</body>

</html>